.menu-header-title {
    font-size: 14px;
}

.avatar-icon-xl .avatar-icon {
    width: 40px;
    height: 40px;
}

.sticky-recent-winners {
    position: sticky;
    top: 70px;
}

/* CSS BY KOLADE & DANIEL */
.app-header .app-header__content {
    background-color: #ffcc00 !important;
    background-image: linear-gradient(180deg,#ffcc00 10%, #ffcc00 100%);
    background-size: cover;
    background: #ffcc00;
}
.app-theme-white.fixed-header .app-header__logo {
    background-color: #ffcc00 !important;
    background-image: linear-gradient(180deg,#ffcc00 10%, #ffcc00 100%);
    background-size: cover;
    background: #ffcc00;
}
h5 {
    color: white;
}
.widget-content .widget-content-left .widget-heading {
    color: white;
}
.widget-content .widget-content-left .widget-subheading {
    color: white;
    opacity: 1.5;
}
.hamburger--elastic .hamburger-inner::after, .hamburger--elastic .hamburger-inner::before, .hamburger--elastic .hamburger-inner {
    background-color: white;
}
.hamburger--elastic.is-active .hamburger-inner::after, .hamburger--elastic.is-active .hamburger-inner {
    background-color: white;
}
.header-btn-lg::before {
    background: white;
}
.d-inline-block {
    color: #3F6AD8;
    font-weight: bold;
}
.d-inline-block strong {
    font-weight: bold;
    color: #3F6AD8;
    text-transform: uppercase;
}
.vertical-nav-menu li a {
    font-weight: bold;
}
.pe-7s-graph:before, .pe-7s-wallet:before, .pe-7s-paint-bucket:before, .pe-7s-rocket:before, .pe-7s-note2:before, .pe-7s-user:before {
    font-weight: bold;
} 

.lnr-apartment:before {
    color: #3F6AD8;
    font-weight: bold;
}
.app-sidebar .scrollbar-sidebar {
    background-color: #ffcc00 !important;
    background-image: linear-gradient(180deg,#ffcc00 10%, #ffcc00 100%);
    background-size: cover;
    background: #ffcc00;
}
.vertical-nav-menu li a {
    color: white;
    font-size: 16px;
}
.pe-7s-angle-down:before {
    color: white;
}
.vertical-nav-menu ul>li>a {
    color: #696969  ;
}
.btn-group>.btn:not(:last-child):not(.dropdown-toggle), .btn-group>.btn-group:not(:last-child)>.btn {
    background: transparent;
}
.btn:not(:disabled):not(.disabled) {
    /* background: #3F6AD8; */
}
.closed-sidebar.closed-sidebar-mobile .app-header {
    background-color: #ffcc00 !important;
    background-image: linear-gradient(180deg,#ffcc00 10%, #ffcc00 100%);
    background-size: cover;
    background: #ffcc00;
}
.bg-info { 
    background-color: #ffcc00 !important;
    background-image: linear-gradient(180deg,#ffcc00 10%, #ffcc00 100%);
    background-size: cover;
    background: #ffcc00;
}
.card-custom-bg {
    background-color: #ffcc00;
    background-image: linear-gradient(180deg,#ffcc00 10%, #ffcc00 100%);
    background-size: cover;
    background: #ffcc00;
}

.widget-title  {
   color: #ffffff;
   opacity: 0;
}
.opacity-5 {
    opacity: 100 !important;
}
.widget-chart2 .widget-chart-flex {  color: #ffffff;
}
.app-main .app-main__inner{
    background-color: #E1E9FF;
}
.sidebar-mobile-open .app-sidebar .app-sidebar__inner ul li a {
    padding: 0 20px 0 10px;
}
.vertical-nav-menu li a {
    padding: 0 3.5rem 0 15px;
}
.vertical-nav-menu li a:hover {
    background: #e0f3ff;
    text-decoration: none;
    color: #3F6AD8;
}
.widget-content .widget-content-left .widget-subheading {
    font-weight: bold;
}
.widget-content .widget-content-left .widget-heading {
    color: white;
    opacity: 100 !important;
}
.opacity-8 {
    opacity: 100 !important;
    color: white;
}
.btn-dark {
    border-color: #3F6AD8;
}
strong .d-block .btn-transition{
    color: #ffcc00 !important;
}
.btn:not(:disabled):not(.disabled){
    color: white;
    border-radius: 5px !important;
}
.btn-transition {
    color: #ffffff;
}
.dropdown-menu-header .menu-header-image {
    border-radius: 15px !important;
    padding-bottom: 50px;
}
.signIn-Register {
    background-color: #ffcc00 !important;
    background-image: linear-gradient(180deg,#ffcc00 10%, #ffcc00 100%);
    background-size: cover;
    background: #ffcc00;
}
.col-lg-8 {
    background-color: #e2e2ff  !important;
}
.bg-white {
    background-color: #e2e2ff  !important;
}

.app-login-box h4 div {
    opacity: 100 !important;
}

.buy-win-item .card-header {
    background-image: url('../images/mtn.jpg');
    opacity: .5;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.buy-win-footer h6{
    font-size: 19px;
    font-weight: 700;
}

.buy-win-item .buy-win-reward {
    font-weight: 700;
}

.modal {
    top: 59px;
}

.modal-backdrop, .blockOverlay {
    position: relative;
}

.modal-header {
    background-color: #ffcc00 !important;
    background-image: linear-gradient(180deg,#ffcc00 10%, #ffcc00 100%);
    background-size: cover;
    background: #ffcc00;
}

li.list-group-item.sticky-border-bottom {
    border: 0 !important;
    border-bottom: 1px solid rgba(0,0,0,.125) !important;
}
